
        <div class="row pt-5 justify-content-center">
                <div class="col-8">
                        <div class="card card-default">
                                <div class="card-header"><h4>ورود به سایت</h4></div>
                                <div class="card-body">
                                        <form action="/auth/login" method="POST" class="form form-horizontal">
                                                <% include ./../layout/error-messages.ejs %>

                                                <div class="form-group">
                                                        <label class="control-label">ادرس ایمیل</label>
                                                        <input type="email" name="email" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                        <label class="control-label">پسورد</label>
                                                        <input type="password" name="password" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                        <div class="checkbox">
                                                                <input type="checkbox" name="remember"> مرا به خاطر بسپار!
                                                        </div>
                                                </div>

                                                <div class="form-group">
                                                        <%- recaptcha %>
                                                </div>

                                                <div>
                                                        <button type="submit" class="btn btn-primary">ورود</button>
                                                        <a href="/auth/google" class="btn btn-danger">ورود با اکانت گوگل</a>                                                        
                                                        <a href="/auth/password/reset" class="btn btn-link">
                                                                رمز عبور را فراموش کرده ام!
                                                        </a>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>  
        </div>
