
        <div class="row pt-5 justify-content-center">
                <div class="col-8">
                        <div class="card card-default">
                                <div class="card-header"><h4>عضویت در سایت</h4></div>
                                <div class="card-body">
                                        <form action="/auth/register" method="POST" class="form form-horizontal">
                                                <% include ./../layout/error-messages.ejs %>

                                                <div class="form-group">
                                                        <label class="control-label">نام کامل</label>
                                                        <input type="text" name="name" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                        <label class="control-label">ایمیل</label>
                                                        <input type="email" name="email" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                        <label class="control-label">پسورد</label>
                                                        <input type="password" name="password" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                        <%- recaptcha %>
                                                </div>

                                                <div class="form-group">
                                                        <button class="btn btn-primary" type="submit">عضویت</button>
                                                        <a href="/auth/google" class="btn btn-danger">ورود با اکانت گوگل</a>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
